/* ================= GLOBAL RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #1a1a1a;
    background-color: #ffff;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* ================= NAVBAR ================= */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 40px;
    border-bottom: 1px solid #e0e0e0;

    position: relative;
    background-color: white;
    z-index: 1000;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-right: 20px;
}

.nav-right .btn-primary {
    margin-left: 5px;
}

.logo-link {
    display: flex;
    align-items: center;
    margin-right: 0px;
}

.nav-logo-img {
    width: 26px;
    height: auto;
    display: block;
    margin-left: 35px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: 25px;
}

.nav-link-box {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: lighter;

    padding: 8px 16px;
    border-radius: 4px;
    font-size: 0.9rem;

    border: 1px solid transparent;

    transition: all 0.2s ease;
}

.nav-link-box:hover {
    background-color: #f5f5f5;
}

/* --- DROPDOWN LOGIC --- */
.nav-item {
    position: relative;
    /* to position dropdown below it */
    padding: 10px 0;
}

.nav-item>a {
    font-size: 0.93rem;
    font-weight: 300;
    color: #606060;
    transition: color 0.2s;
}

.nav-item:hover>a {
    color: #000000;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 180px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #eee;
    padding: 10px 0;
    list-style: none;
    z-index: 999;
}

.nav-item.active .dropdown-menu {
    display: block;
    animation: fadeIn 0.2s ease;
}

.nav-item.active .chevron {
    transform: rotate(180deg);
}

.dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    font-size: 0.9rem;
    color: #555;
    transition: background 0.1s;
}

.dropdown-menu li a:hover {
    background-color: #eeecec;
}

.btn-primary {
    background-color: #276FF5;
    color: white;
    padding: 8px 17px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 0.9rem;
    transition: background 0.2s;
}

.btn-icon {
    display: inline-block;
    margin-left: 8px;
    font-weight: 100;
}

.btn-primary:hover {
    background-color: #3177f8;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* ================= HERO SECTION ================= */
.hero {
    text-align: center;
    padding: 60px 20px 20px;

    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.hero h1 {
    font-family: 'Inter', sans-serif;
    font-size: 3.8rem;

    font-weight: 700;
    line-height: 1;
    letter-spacing: -1px;
    color: #000000;
    margin-bottom: 24px;

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.highlight {
    color: #276FF5;
}

.subtitle {
    font-size: 1.1rem;
    color: #6a6969;
    margin-bottom: 20px;
}

.badge-container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.webflow-badge {
    display: inline-flex;
    align-items: center;
    background-color: #f5f5f5;
    color: #0f0f0f;
    padding: 6px 10px 6px 8px;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.webflow-badge:hover {
    background-color: #e6e6e6;
}

.badge-icon-img {
    width: 25px;
    height: auto;
    margin-right: 8px;
    display: block;
}

.highlight-link {
    color: #276FF5;
    text-decoration: none;
    font-weight: 400;
    margin-left: 4px;
    transition: color 0.2s ease;
}

.highlight-link:hover {
    text-decoration: underline;
}

/* --- Search Bar --- */
.search-wrapper {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 12.5px 30px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 30px;
    transition: border-color 0.2s;
}

.search-wrapper:focus-within {
    border-color: #276FF5;
}

.search-icon {
    margin-right: 12px;
    flex-shrink: 0;
}

.search-input {
    border: none;
    outline: none;
    font-size: 1rem;
    color: #333;
    width: 100%;
    font-family: 'Inter', sans-serif;
    padding: 1.5px 5px 1.5px 0px;
}

.search-input::placeholder {
    color: #999;
}

/* --- Tags --- */
.tags-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px;
    margin-bottom: 35px;
}

.tag {
    padding: 8px 16px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    font-size: 0.9rem;
    color: #000;
    cursor: pointer;
    transition: all 0.2s;
    background-color: #f0f0f0;
    font-weight: 600;
}

.tag:hover {
    color: #000000;
    background-color: #eeeded;
}

.tag.active {
    background-color: #f0f0f0;
    font-weight: 600;
    border-color: #276FF5;
    border-width: 0.1rem;
}

/* ================= GALLERY GRID ================= */
.gallery-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 0px 100px;
}

.gallery-subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1440px;

    margin: 0 auto 30px;
    padding: 0 10px;
    /* to add small breathing room on mobile */
    position: relative;
    z-index: 10;
    margin-bottom: 45px;
}

.subheader-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Responsive Fix: On mobile, stack them */
@media (max-width: 768px) {
    .gallery-subheader {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .subheader-left {
        width: 100%;
        justify-content: space-between;
    }

    .btn-primary {
        width: 100%;
        text-align: center;
    }
}

.sort-dropdown {
    position: relative;
    display: inline-block;
}

.sort-btn {
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 4px;

    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: #1a1a1a;

    padding: 10px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: all 0.2s;

    min-width: 140px;
    justify-content: space-between;
}

.sort-btn:hover {
    background-color: #e6e3e3;
}

.chevron {
    font-size: 1rem;
    color: #000000;
    transition: transform 0.2s;
}

.sort-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 8px 0;
    list-style: none;
}

.sort-dropdown.active .sort-menu {
    display: block;
}

.sort-dropdown.active .chevron {
    transform: rotate(180deg);
}

.sort-menu li a {
    display: block;
    padding: 10px 20px;
    font-size: 0.95rem;
    color: #444;
    text-decoration: none;
    transition: background 0.1s;
}

.sort-menu li a:hover {
    background-color: #f4f4f4;
}

.sort-menu li a.active {
    font-weight: 600;
}

.filter-toggles {
    display: flex;
    align-items: center;

    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 8px 16px;
    background: white;

    gap: 12px;
    height: 100%;
    cursor: pointer;
    transition: border-color 0.2s;
}

.toggle-text {
    font-size: 0.9rem;
    color: #1a1a1a;
    font-weight: 500;
}

.toggle-label {
    position: relative;
    width: 40px;
    height: 22px;
    display: inline-block;
}

.toggle-label input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #276FF5;
}

input:checked+.slider:before {
    transform: translateX(18px);
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 8px 24px;
}

.project-card {
    background: white;
    border: none;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-image {
    width: 100%;
    height: 260px;
    background-color: #f5f5f5;
    overflow: hidden;
    /* Prevents image from spilling out */
    position: relative;
}

.overlay-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    /* Starts slightly lower */

    background-color: white;
    color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    opacity: 0;
    /* to hide it initially */
    pointer-events: none;
    /* to prevent clicking it when hidden */

    /* SMOOTH ANIMATION */
    transition: all 0.3s ease;
}

.card-image:hover .overlay-btn {
    opacity: 1;
    transform: translate(-50%, -50%);
    pointer-events: auto;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: transform 0.2s ease, filter 0.2s ease;
    filter: brightness(1);
}

.card-image:hover img {
    transform: scale(1.03);
    filter: brightness(0.85);
}

.card-info {
    padding: 16px 10px 20px 5px;
    /* top|right|bottom|left */
    background-color: white;
}

.card-header-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}


.header-text h3 {
    font-size: 0.85rem;
    font-weight: bold;
    color: #1a1a1a;
    line-height: 1;
    margin-bottom: 2px;
    /* Tiny space between title and author */
}

.author-name {
    font-size: 0.82rem;
    color: #666;
    font-weight: 400;
}

.likes-container {
    margin-left: auto;
    /* Pushes it to the right edge */
    font-size: 0.9rem;
    color: #666;
    display: flex;
    align-items: center;
    gap: 1px;
    transform: translateY(-8px);
    padding-left: 16px;
}

.show-more-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-outline {
    background-color: transparent;
    color: #1a1a1a;

    padding: 14px 16px;

    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    /* x-offset | y-offset | blur | color (light grey) */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    min-width: auto;
    width: auto;
}

.btn-outline:hover {
    border-color: #a8a8a8;
    background-color: #f5f5f5;
}

/* ================= MOBILE RESPONSIVENESS ================= */
@media (max-width: 768px) {

    .nav-links,
    .nav-right {
        display: none;
    }

    .hamburger {
        display: block;
        font-size: 1.8rem;
        cursor: pointer;
        color: #1a1a1a;
    }

    .hero h1 {
        font-size: 2.5rem;
        /* Only shrink on Mobile */
    }

    .gallery-container {
        padding: 20px;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 20px 0;
        border-bottom: 1px solid #e0e0e0;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    }

    .nav-item {
        width: 100%;
        text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid #f5f5f5;
    }

    .nav-item:hover .dropdown-menu {
        display: none;
    }
}

/* --- FOOTER STYLES --- */

.site-footer {
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;

    /* TOP | RIGHT | BOTTOM | LEFT */
    padding: 60px 20px 60px 70px;

    font-family: 'Inter', sans-serif;
    margin-top: 40px;
}

.footer-container {
    max-width: 1440px;
    margin: 0 auto;

    /* 4 Column Grid */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    gap: 40px;
    align-items: start;
    /* Ensures columns don't stretch height */
}

.social-col {
    margin-left: auto;
    margin-right: 50px;
    text-align: left;
}

/* HEADERS (Explore, Learn, etc.) */
.footer-col h4,
.footer-group h4 {
    font-size: 0.95rem;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 20px;
    margin-top: 0;
}

/* LINKS */
.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col ul li {
    margin-bottom: 14px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #6f6e6e;
    font-size: 0.9rem;
    transition: color 0.2s ease;
}

.footer-col ul li a:hover {
    color: #000;
}

.spacing-top {
    margin-top: 50px;
}

/* VERTICAL SOCIAL ICONS */
.social-icons-vertical {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.social-icons-vertical a img {
    width: 19px;
    height: 18px;
    opacity: 1;
    transition: opacity 0.2s;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {

    .footer-container {
        grid-template-columns: 1fr;
        gap: 50px;
        padding-bottom: 40px;
    }

    .footer-col ul,
    .footer-col .link-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px 20px;
    }

    .social-icons-vertical {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: flex-start;
        margin-top: 20px;
    }
}

/* MOBILE TWEAKS */
@media (max-width: 480px) {
    .navbar {
        /* Change 40px to 20px (or even 10px) to push logo left */
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 768px) {

    .tags-container {
       justify-content: flex-start; 
        
       
        padding-left: 15px;
        padding-right: 15px; 
        
        overflow-x: auto;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
    }

    .tags-container::-webkit-scrollbar {
        display: none;
    }

    .tag {
        white-space: nowrap;
        flex-shrink: 0;
    }
}

@media (max-width: 768px) {

    .overlay-btn {
        display: none !important;
        pointer-events: none;
    }

    .card-image {
        cursor: pointer;
    }

    .btn-primary {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 15px;
        padding: 12px 0;
        box-sizing: border-box;
    }

    .subheader-left {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
    }
}